* {
    margin:0;
    padding:0;
}

html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-flow: column;
}

header {
    background-color: goldenrod;
    width: 100%
}


/* various modals */



/* bottom of the page */

footer {
    background-color: goldenrod;
    width: 100%;
}