* {
    margin:0;
    padding:0;
}

html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-flow: column;
}

header {
    background-color: darkgoldenrod;
    width: 100%
}

footer {
    background-color: darkgoldenrod;
    width: 100%;
}